/*----variables-------*/
:root{
  --primary-color: #27A7E1;
  --secondary-color: #C30C22;
  --on-secondary-color: #F8F8F8;
  --surface: #ebebeb;
  --surface-on-primary: #FFFFFF;


}

.bg-surface{
  background-color: var(--surface);
}

.bg-surface-on-primary{
  background-color: var(--surface-on-primary);
}

.rounded-10px{
  border-radius: 10px;
}

.bg-azul{
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h3, h4{
  text-transform: uppercase;
}

.decoration-none a{
  text-decoration: none;
}

li a{
  text-decoration: none;
  margin: 0 auto;
  display: block;
  width: 100%;
 text-align: center;
 font-size: 1rem;

}

/* Colors */

/* BG Blue #3DB6E9 */
/* Blanco #F8F8F8 */
/* BG Footer ##NO ESTAAAA LO INVENTO##  #5e5e5e*/
/* ROJO NO ESTA. #C30C22



/* ----HOME----- */
#home{
  height: 100%; /* Cambie vh por % para hacer mas facil el responsive. Movi el id home al main para que sea mas sencillo definir las boxes y no mezclen elementos.*/
  background-image: url(../image/working11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}


h1{
  text-transform: uppercase;
  padding-top: 15%;
  color: var(--primary-color);
}

.boton{
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.rounded a{
  border-radius: 10rem;
}
 
#home h1, h2{
    width: 50%;
}
.bottomHome a{
  text-align: right;
}

.image-wpp{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.margin-main{
  padding-bottom: 10%;
  padding-left: 4%;
}

/* ----------------------------------COBERTURAS------------------------------ */
.margen-medio{
  margin-top: 5%; 
  margin-bottom:3%;
}
/*--card--*/
.wrapper{
  -webkit-box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.24);
-moz-box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.24);
box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.24);
}

.image-card{
  transform: translateY(-30%);
}


.justify-contenido-between{
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  
}

.my-auto{
  margin: auto 0;
}

.justify-contenido-around{
  justify-content: space-around;
}

.align-content-center{
  align-content: center;
}

.align-content-between{
  align-content: space-between;
}
.center{
  text-align: center;
}

.font-bold{
  font-weight: bold;
}

.conocer{
  height: 100vh;
}
.cobertura2 {
  padding: 2% 16%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;   /* contrarestar el efecto del tralado de las imagenes */
}

.cobertura2 img {
  width: 50%;
}

/* -----------------------------------------POR QUE ELEGIRNOS--------------------- */
.porQue{
  background-color: #3DB6E9;
  height: 100%;
  background-image: url(../image/flechas_home_lg.png)
}

.bg-card{
  background-color: var(--on-secondary-color);
  min-height: 60vh;
  max-width: 20vw;
}

.text-white{
  color: var(--on-secondary-color);
}
.m-4{
  margin: 1rem;
}

.px-8{
  margin-left: 2rem;
  
}
.px-4{
  padding: 1rem;
}
.cualidades{
  padding: 8%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textosPorque{
  background-color: #F8F8F8;
  height: 40vh;
  padding-top: 30%;
}

.cualidades2 {
padding-left: 5%;
padding-right: 5%;
width: 50%;
}


/* ----------------------------------EMPRESAS QUE NOS ACOMPAÑAN--------------------- */

.h-3_4{
  height: 75vh;
}

.bg-image{
  background-image: url(../image/flechas_home_lg.png);
}





/* ---------------------------------------------FOOTER------------------------------------ */

.h-1_4{
  height: 25vh;
}

.w-icon{
  width: 2.5rem;
}

footer {
  background-color: #5e5e5e;
  padding-top: 3rem;
}
.footerContact {
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
.telefonoFoot{
display: flex;
justify-content: flex-end;
}
.footerMedia img{
  width: 5%;
}

.ssn-icon{
  width: 40%;
}
/* -----------------------------------CONTACTO------------------------------------ */

#face {
  width: 110%;
}

/* -------------------------------------SEGUROS------------------------------ */

.opacity-20{
  background-color: rgba(39,167,225,0.2);
}
.seccionSeguro{

padding: 3rem 0;
}

.registrales{
  padding: 8rem 0 5rem 0;
  
}

.registrales h4, p{
text-align: center;
  
}

.fotoRegis img{
  margin: 0 auto;
}


/* ----------------------------------------SOBRE MI------------------------------------------- */

.about{
  padding: 3rem 0;
}
/*--------------------------------------------clases generales----------------------*/
.h-screen{
  height: 100%; /* Lo cambie por % por que es mas facil que los elementos se mantienen en sus respectivos recuadro cuando se achica la pantalla*/
}

.text-uppercase{
  text-transform: uppercase;
}

.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}

.text-rojo{
  color: var(--secondary-color);
}

.text-blue{
  color: var(--primary-color);
}


/*Media Query*/

@media (max-width:1024px){
  .map-size{
    width: 110%;
    height: 380px;
  }
}

@media (max-width: 768px){
  /*Por que elegirnos*/
  .margen-medio{
    margin-top: 25%; 
  }
  .bg-card{
    height: 350px;
    width: 60%

  }
  .image-size{
    width: 135px;
    height: 135px;
  }
  
  .heading-decrease{
    font-size: 125%!important;
    line-height: 100%!important;
  }
  .text-decrease{
    font-size: 90%;
  }
  /*Contacto*/
  .w-icon2{
    width: 8%;
  }
  .map-size{
    height: 280px;
    width: 90%;
  }
}


@media (max-width: 600px) {
  #home{
    background-image: url(../image/homeMobile.png);
    min-height: 90vh;
  }
  .margin-main{
    padding-bottom: 25%;
  }

  /*Coberturas*/
  h3{
    font-size: 115%!important;
  }
  .image-decrease{
    width: 50%;
    height: 40%;
  }
  h4{
    font-size: 90%!important;
  }
  
  .cobertura2{
    width: 100%;
    padding-top:4rem;
  }
  .registrales{
    padding: 3rem 1rem ;
    text-align: center;
  
  }

  
  /*Por que elegirnos*/
  .bg-card{
    height: 300px;
    width: 100%;
    min-height: 30vh;
   
  }
  .responsive-size{
    width: 60%!important;
    height: 25%;
    margin-left: 20%!important;
    margin-bottom: 3%;
  }
  .image-size{
    width: 125px;
    height: 120px;
  }
  .heading-decrease{
    font-size: 88%!important;
    line-height: 108%!important;
  }
  .text-decrease{
    font-size: 78%;
    width: 100%;
  }
  /*Footer*/
  .w-icon{
    width: 50%;
    /* padding-left: 10px; */
  }
  .ocultarSmall{
    display: none;
  }
  .ssn-icon{
    width: 60%;
    /* margin-left: 50px;
    padding-bottom: 25px; */ 
    /* No se centraba en mobile */
    margin: 0 auto;
  }

  .bajarLinea{
    display: block;
  }
  /*Contacto*/
  .w-icon2{
    width: 8%;
  }
  .map-size{
    margin-top: 5px;
    height: 240px;
    width: 80%;
  }
   
}
@media (max-width: 425px){
  /*Home*/
  h1{
    font-size: 250%!important;
  }
  h2{
    font-size: 180%!important;
  }

  /*Por que elegirnos*/
  .bg-card{
    height: 250px;
    min-height: 20vh;
   
  }
  .image-size{
    width: 90px;
    height: 85px;
  }
  .heading-decrease{
    font-size: 60%!important;
  }
  .text-decrease{
    font-size: 58%;
  }
  /*Footer*/
  .w-icon{
    padding-left: 2px;
  }

  .footer-font{
    font-size: 50%;
  }
  /*Contacto*/
  .w-icon2{
    width: 6%;
  }
  #face{
    width: 90%;
    padding-right: 25px;
  }
  
}
@media (max-width: 375px){
   /*Por que elegirnos*/
   .bg-card{
    height: 150px;
    min-height: 10vh;
   
  }
  .image-size{
    width: 60px;
    height: 55px;
  }
  .heading-decrease{
    font-size: 45%!important;
  }
  .text-decrease{
    font-size: 48%;
  }
  /*Footer*/
  .footer-font2{
    font-size: 80%;
  }  
}
@media (min-width: 768px){
  #maiLogo, #moviLogo{
    width:6%;

  }
  .margen-medio{
    padding:5rem 0;
  }

  
}